/**
* all and (min-width: 1600px)
*
* Anything more than 1600px.
*/

/** $header */

header {
    top: 80px;
}

/** $main */

.main div[role="article"] {
    right: 0;
    -moz-transform: rotateY(-15deg);
    -ms-transform: scale(1);
    -o-transform: rotateY(-15deg);
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
}

/** $sidebar */

.wrapper {
    left: 50px;
    -moz-transform: rotateY(15deg);
    -ms-transform: translate(0, 0);
    -o-transform: rotateY(15deg);
    -webkit-transform: rotateY(15deg);
    transform: rotateY(15deg);
}

    .wrapper a:hover {
        color: #888;
        transition: color 0s;
    }
